language: scala
scala:
- 2.11.11
jdk:
- oraclejdk8
before_script:
- sudo apt-get install openssl
- sudo apt-get install libapr1 libapr1-dev
- ./.travis/nsq/start_nsq.sh ./.travis/nsq
script:
- sbt test
deploy:
  skip_cleanup: true
  provider: script
  script: ./.travis/deploy.sh $TRAVIS_TAG
  on:
    tags: true
env:
  global:
  - BINTRAY_SNOWPLOW_MAVEN_USER
  - BINTRAY_SNOWPLOW_MAVEN_API_KEY
